<div ng-controller="AdminCtrl">
    <div ng-include="'./Views/Partials/header.html'"></div>
    <div class="container-fluid">
        <div class="panel panel-success big-text">
            <div class="panel-heading">
                <span class="sec-heading2">Admin content</span>
            </div>
            <div>
                TODO: Put pending work items for admin.
                <div>
                    <p ng-repeat="(key, value) in P">{{key}}: {{value}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>