<div ng-controller="UserCtrl">
    <div ng-include="'./Views/Partials/header.html'"></div>
    <div class="container">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading nav">
                <span class="navbar-left">My Profile</span>
            </div>
            <div class="panel-body">
                <form name="regForm" novalidate>
                    <div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" ng-model="Reg.email" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" ng-model="Reg.password" type="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>First name</label>
                            <input name="firstName" ng-model="Reg.firstName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Middle name</label>
                            <input name="middleName" ng-model="Reg.middleName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input name="lastName" ng-model="Reg.lastName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <label class="radio-inline">
                                <input ng-model="Reg.gender" type="radio" name="gender" id="inlineRadio1" value="M"> Male
                            </label>
                            <label class="radio-inline">
                                <input ng-model="Reg.gender" type="radio" name="gender" id="inlineRadio2" value="F"> Female
                            </label>
                            <label class="radio-inline">
                                <input ng-model="Reg.gender" type="radio" name="gender" id="inlineRadio3" value="O"> Other
                            </label>
                        </div>
                    </div>
                    <span class="navbar-right">
                        <button type="submit" class="btn btn-success" ng-click="saveUser()">Save</button>
                        <a href="#/index" class="btn btn-default">Close</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>