<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>org.javamvc.core.ControllerServlet</servlet-class>
        <init-param>
            <param-name>controller.package.name</param-name>
            <param-value>in.bookmylab.controllers</param-value>
        </init-param>
        <!--        <init-param>
            <param-name>memcache.provider.class</param-name>
            <param-value>in.bookmylab.GAEMemCache</param-value>
        </init-param>-->
        <init-param>
            <param-name>template.extension</param-name>
            <param-value>.html</param-value>
        </init-param>
        <init-param>
            <param-name>load.extra.config</param-name>
            <param-value>/WEB-INF/cfg/extra-config.properties</param-value>
        </init-param>
        <init-param>
            <param-name>view.provider.class</param-name>
            <param-value>org.javamvc.core.FreemarkerViewProvider</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>*.a</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- This JDBC DataSource is configured in context.xml -->
<!--    <resource-ref>
        <res-ref-name>jdbc/MYAPP</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>-->
</web-app>
